{{ define "main"}}
    <main id="main">
        <div class="row">
			<div class="col-md-4 widget" style="float: none; margin: 0 auto;">
                <div class="widget-body">
                    <div class="widget-body-toolbar text-center">
                        <h3>
                            <div><i class="fa fa-exclamation-triangle"></i> 404 a.k.a Oops!</div>
                        </h3>
                        <div class="text-center">
                            <p>The page you are looking for was not found.<br/>
                            Use the menus above.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>          
    </main>
{{ end }}